body {
  background-color: rgb(255, 242, 225);
}
h1 {
  color: rgb(224, 113, 22);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h2 {
  border-left: 4px solid rgb(59, 104, 255);
  background-color: rgb(206, 239, 255);
  color: rgb(59, 104, 255);
  padding: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
div {
  background-color: rgb(239, 250, 255);
  padding-left: 10px;
}
ul,
ol {
  padding: 10px;
}

strong {
  color: rgb(213, 129, 18);
}

p {
  color: rgb(128, 128, 128);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -5px;
}
