* {
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 400px;
  height: 300px;
  background-color: #b03939;
  border-radius: 15px;
}
.magnet {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #b4b4b4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#right-magnet {
  top: -5px;
  right: 0;
}
#left-magnet {
  top: -5px;
  left: 0;
}
.white {
  position: relative;
  width: 220px;
  height: 240px;
  background-color: #ffffff;
  border-radius: 15px;
  top: -15px;
  margin: 0 auto;
}
